{% extends 'base.html.twig' %}

{% block title %}Hello PublicacionController!{% endblock %}

{% block navegacion %}
    <nav>
        <ul>
            <li><a href=""><img src="" alt=""></a></li>
            <li><a href=""><p></p></a></li>
            <li><a href=""><img src="" alt=""></a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    {{ publicacion.getTitulo }}</br>
    {{ publicacion.getContenido }}
    <ul>
    {% for comentario in publicacion.getComentarios %}
        <li>{{ comentario.getContenido }}</li>
    {% endfor %}
    </ul>
    Detalle de publicación
{% endblock %}