<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome{% end block %}</title>
</head>
<body>
    <header>
        <img src="" alt="logo">
        <h1>Foro</h1>
    </header>
    <nav>
        <ul>
            <li><a href=""><img src="" alt=""></a></li>
            <li><a href=""><p></p></a></li>
            <li><a href=""><img src="" alt=""></a></li>
        </ul>
    </nav>
    <main>
        <h1>Base</h1>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis excepturi
            ipsum magni iure doloribus suscipit cumque debitis ex repellat. Similique quidem
            fugit molestiae error praesentium vel accusantium aspernatur labore ex.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis excepturi
            ipsum magni iure doloribus suscipit cumque debitis ex repellat. Similique quidem
            fugit molestiae error praesentium vel accusantium aspernatur labore ex.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis excepturi
            ipsum magni iure doloribus suscipit cumque debitis ex repellat. Similique quidem
            fugit molestiae error praesentium vel accusantium aspernatur labore ex.
        </div>
    </main>
    <footer>
        <p>Copiright</p>
        <a href=""><img src="" alt=""></a>
    </footer>
</body>
</html>
