<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/mycss.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    <header>
        <img src="" alt="logo">
        <h1>Foro</h1>
    </header>

    {% block navegacion %}{% endblock %}

    {% block body %}{% endblock %}

    {% block javascript %}{% endblock %}

    <footer>
        <p>Copiright</p>
        <a href=""><img src="" alt=""></a>
    </footer>
</body>
</html>
